* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%; 
    overflow: auto; 
}

body {
    font-family: Zen Dots;
}

.container {
    height: 100vh; 
    overflow: auto;
    overflow-y: scroll; 
    scroll-snap-type: y mandatory; 
}

section {
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2; 
    scroll-snap-align: start;
}

.screen2 {
    background-color: red;
}

.screen3 {
    background-color: rgb(232, 3, 148);
}

.screen4 {
    background-color: green; 
}

.head{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1; 
}

.content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    margin-top: 20%;
    margin-bottom: 20%;
}

.heading {
    font-size: 4.5rem;
    font-weight: bold;
    text-shadow: 0 0 3px #ffffff,
                 0 0 6px #ffffff,
                 0 0 10px #000000,
                 0 0 15px #0000a9,
                 0 0 20px #ff00ff;
}

svg {
    position: absolute;
    z-index: 1;
    width: 30px;
    height: 20px;
    top: 95%;
    left: 50%;
    margin-top: -21px;
    transform: translate(-50%, -50%);
    animation: svgAnimation 2s ease-in-out infinite;
}

@keyframes svgAnimation {
    0%, 100% {
        transform: translate(-50%, -50%) translateY(0);
    }

    50% {
        transform: translate(-50%, -50%) translateY(-20px);
    }
}


@media (max-width: 768px) {
    .heading {
        font-size: 1.9rem; 
    }

    .content {
        margin-top: 10%;
        margin-bottom: 10%; 
    }

    svg {
        margin-top: -37px;
        width: 30px;
        height: 20px; 
    }

    .head h1 {
        font-size: 2rem; 
        text-align: center; 
    }

    .head p {
        font-size: 1rem; 
        text-align: center; 
        padding: 0 10px; 
    }

    .cta-button {
        font-size: 1rem; 
        padding: 10px 20px; 
    }

}
