
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%; 
    overflow-x: hidden; 
    user-select: none;
}


body {
    font-family: 'Zen Dots', sans-serif;
}


.container {
    width: 100%;
    height: 100vh; 
    overflow-y: auto; 
    scroll-snap-type: y mandatory; 
}

section {
    width: 100%;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start; 
    position: relative;
}


.screen2 {
    background-color: rgb(44, 97, 196);
}

.screen3 {
    background-color: rgb(232, 3, 148);
}

.screen4 {
    background-color: rgb(64, 65, 64);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.head3{
    color: white;
}


.head {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; 
}

.content {
    position: relative;
    color: white;
    text-align: center;
    margin: 10% 0;
}


.heading {
    font-size: 4.5rem;
    font-weight: bold;
    text-shadow: 0 0 3px #ffffff,
                 0 0 6px #ffffff,
                 0 0 10px #000000,
                 0 0 15px #0000a9,
                 0 0 20px #ff00ff;
}


svg {
    position: absolute;
    height: 40px;
    width: 20px;
    bottom: 5%; 
    left: 50%;
    transform: translateX(-50%);
    animation: svgAnimation 2s ease-in-out infinite;
}

@keyframes svgAnimation {
    0%, 100% {
        transform: translateX(-50%) translateY(0);
    }
    50% {
        transform: translateX(-50%) translateY(-20px);
    }
}

.scroll-strip {
    position: absolute;
    bottom: 0; 
    width: 100%; 
    height: 110px; 
    background-color: rgba(0, 0, 0, 0); 
    cursor: pointer; 
    z-index: 1; 
    outline: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.scroll-strip:focus{
    outline: none;
    user-select: none;
    box-shadow: none;
}


/* From Uiverse.io by abrahamcalsin */ 
button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #183153;
    font-family: "Montserrat", sans-serif;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    cursor: pointer;
    border: none;
  }
  
  button:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: #ffd401;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
  }
  
  button:hover::after {
    right: auto;
    left: 0;
    width: 100%;
  }
  
  button span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 18px 25px;
    color: #fff;
    font-size: 1.125em;
    font-weight: 700;
    letter-spacing: 0.3em;
    z-index: 20;
    transition: all 0.3s ease-in-out;
  }
  
  button:hover span {
    color: #183153;
    animation: scaleUp 0.3s ease-in-out;
  }
  
  @keyframes scaleUp {
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(0.95);
    }
  
    100% {
      transform: scale(1);
    }
  }
  


@media (max-width: 768px) {
    .heading {
        font-size: 1.7rem;
    }

    .content {
        margin: 5% 0;
    }

    svg {
        width: 25px;
        height: 18px;
        bottom: 8%; 
    }

    .head h1 {
        font-size: 1.8rem;
        text-align: center;
    }

    .head p {
        font-size: 1rem;
        text-align: center;
        padding: 0 10px;
    }

    
}
