
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%; 
    overflow-x: hidden; 
    user-select: none;
}


body {
    font-family: 'Zen Dots', sans-serif;
}

.container {
    width: 100%;
    height: 100vh; 
    overflow-y: auto; 
    scroll-snap-type: y mandatory; 
}

section {
    width: 100%;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start; 
    position: relative;
}


.screen2 {
    background-color: red;
}

.screen3 {
    background-color: rgb(232, 3, 148);
}

.screen4 {
    background-color: green;
}


.head {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; 
}

.content {
    position: relative;
    color: white;
    text-align: center;
    margin: 10% 0;
}


.heading {
    font-size: 4.5rem;
    font-weight: bold;
    text-shadow: 0 0 3px #ffffff,
                 0 0 6px #ffffff,
                 0 0 10px #000000,
                 0 0 15px #0000a9,
                 0 0 20px #ff00ff;
}


svg {
    position: absolute;
    height: 40px;
    width: 20px;
    bottom: 5%; 
    left: 50%;
    transform: translateX(-50%);
    animation: svgAnimation 2s ease-in-out infinite;
}

@keyframes svgAnimation {
    0%, 100% {
        transform: translateX(-50%) translateY(0);
    }
    50% {
        transform: translateX(-50%) translateY(-20px);
    }
}

.scroll-strip {
    position: absolute;
    bottom: 0; 
    width: 100%; 
    height: 110px; 
    background-color: rgba(0, 0, 0, 0); 
    cursor: pointer; 
    z-index: 1; 
    outline: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.scroll-strip:focus{
    outline: none;
    user-select: none;
    box-shadow: none;
}


@media (max-width: 768px) {
    .heading {
        font-size: 1.7rem;
    }

    .content {
        margin: 5% 0;
    }

    svg {
        width: 25px;
        height: 18px;
        bottom: 8%; 
    }

    .head h1 {
        font-size: 1.8rem;
        text-align: center;
    }

    .head p {
        font-size: 1rem;
        text-align: center;
        padding: 0 10px;
    }

    .cta-button {
        font-size: 1rem;
        padding: 10px 20px;
    }
}
